{% extends 'popup.html.twig' %}


{% block body %}
    <div class="container">
<form method="post" action="{{ path('app_login') }}">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="form-group">
        <label class="form-label" for="username">Email</label>
        <input type="email" class="form-input" placeholder="votre@email.com" value="{{ lastUsername }}"
               name="_username" id="username" autocomplete="email" required autofocus>
    </div>

    <div class="form-group">

        <label class="form-label" for="password">Password</label>
        <input type="password" name="_password" id="password" class="form-input" autocomplete="current-password"
               required>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection"
               value="{{ csrf_token('authenticate') }}">

    </div>
    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>

</form>
</div>
{% endblock %}


