{{ form_start(form, {'action': path('app_posts_new')}) }}

<div class="form-group">
    {{ form_label(form.content, "Contenu", {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-input', 'placeholder': 'Écrivez votre message ici'}}) }}
    {{ form_errors(form.content) }}
</div>

<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
