<!-- Categories -->
{% for category in categories %}

<div class="categories">
    <div class="category" onclick="window.location.href='{{ path('app_category_show', {'id': category.id}) }}'">
        <div class="category-header">
            <div class="category-icon"
                 style="background: linear-gradient(45deg, #3b82f6, #1d4ed8);">{{ category.name|slice(0, 1) }}</div>
            <div>
                <div class="category-title">{{ category.name|slice(2) }}</div>
                <div class="category-description">{{ category.description }}</div>
            </div>
        </div>
        <div class="category-stats">
            <div class="category-numbers">

                {% set nbPosts = postsNumber[category.name] ?? 0 %}
                {% if nbPosts > 1 %}
                    <span>{{ nbPosts }} sujets</span>
                {% else %}
                    <span>{{ nbPosts }} sujet</span>
                {% endif %}


                <span>1,847 messages</span>
            </div>
        </div>
    </div>

    {% else %}
        <p>Aucune catégorie trouvé.</p>
    {% endfor %}
